R2_ACCOUNT_ID="YOUR_CLOUDFLARE_ACCOUNT_ID"
R2_ACCESS_KEY_ID="YOUR_R2_ACCESS_KEY_ID"
R2_SECRET_ACCESS_KEY="YOUR_R2_SECRET_ACCESS_KEY"
FIREBASE_PROJECT_ID="flipcast-99bd7"
APP_ORIGIN="http://localhost:3000"
MAX_UPLOAD_BYTES="52428800"
